<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Formulario Producto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body> 
        <form action="/ejemplo2017/producto" method="post"> 
            <div> 
                <label for="descripcion">Descripcion</label>  
                <input type="text" name="descripcion" id="descripcion"> 
            </div> 
            <div> 
                <label for="fechavencimiento">Fecha Vencimiento</label>  
                <input type="date" name="fechaVencimiento" id="fechavencimiento"> 
            </div> 
            <div> 
                <label for="precio">Precio</label>  
                <input type="text" name="precio" id="precio"> 
            </div> 
            <div> 
                <label for="cantidad">Cantidad</label>  
                <input type="text" name="cantidad" id="cantidad"> 
            </div> 
            <div> 
                <input type="submit" value="Enviar"> 
            </div> 
        </form> 
    </body>
</html>
